node_modules/
dist/

# env
.env
.env.local
.env*.local

# mkcert local dev certs
.cert.pem
.key.pem
.vercel

# Capacitor native build artifacts
ios/App/Pods/
ios/App/App/public/
ios/App/capacitor.config.json
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/.gradle/
android/app/build/
